.mat-toolbar-row, .mat-toolbar-single-row{
    height: 36px;
}
.mat-toolbar-multiple-rows{
    min-height: 36px;
}
.example-icon {
    color:#00bfff;
}
.example-spacer {
    flex: 1 1 auto;
}
.mat-tree {
    background: transparent;
}
.mat-toolbar {
    background: transparent;
    border: 1px solid #00bfff;
}
::ng-deep .mat-checkbox-checked .mat-checkbox-background,::ng-deep .mat-checkbox-indeterminate .mat-checkbox-background {
    background-color: #00bfff !important;
    color: #fff;
}
button.btn.chart-btn {
    border: 1px solid #00bfff;
    margin: 10px 15px;
    width: 150px;
    color: #00bfff;
}
button.btn.chart-btn:hover,button.btn.chart-btn.active {
    background-color: #00bfff;
    color:#072f39;
    box-shadow: 1px 1px 20px #fff;
}
button.btn.chart-btn:hover .example-icon, button.btn.chart-btn.active .example-icon{
    color:#072f39;
}
button.btn.chart-btn p {
    font-size: 12px;
    margin-bottom: 0;
}
.chart-select-container {
    margin: 10px 0;
    border: 1px solid #00bfff;
}
.padding-zero {
    padding: 0;
}
.mat-toolbar{
    color: #00bfff;
}